@model VahanBlog.Entities.BlogPost

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <script src="~/Content/ckeditor/ckeditor.js"></script>
</head>
<body>
    <div>
        <div class="panel">
            <div class="panel-heading">
                <h3>Edit @Model.Title</h3>
            </div>
            @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="panel-body">
                    @Html.HiddenFor(m => m.PostId)
                    @foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        switch (property.PropertyName)
                        {
                            case "PostID":
                            case "ImageData":
                            case "ImageMimeType":
                                // do nothing
                                break;
                            default:
                                <div class="form-group">
                                    @if(property.PropertyName != "PostId") {
                                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                                    }
                                    @if (property.PropertyName == "Content")
                                    {
                                        @Html.TextArea(property.PropertyName, null,new { @id="classReplace",@class = "form-control", rows = 5 })
                                        <script>
                                            CKEDITOR.replace('classReplace');
                                        </script>
                                    }
                                    else if(property.PropertyName != "PostId")
                                    {
                                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                                    }
                                    @Html.ValidationMessage(property.PropertyName)
                                </div>
                                break;
                        }
                    }
                    <div class="form-group">
                        <div style="position:relative;">
                            <label>Image</label>
                            <a class='btn' href='javascript:;'>
                                Choose File...
                                <input type="file" name="Image" size="40" style="position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0); opacity:0;background-color:transparent;color:transparent;"onchange='$("#upload-file-info").html($(this).val());'>
                            </a>
                            <span class='label label-info' id="upload-file-info"></span>
                        </div>
                        @if (Model.ImageData == null)
                        {
                            <div class="form-control-static">No Image</div>
                        }
                        else
                        {
                            <img class="img-thumbnail" width="150" height="150"
                                 src="@Url.Action("GetImage", "Blog", new { Model.PostId })" />
                        }
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Cancel and return to List", "AdminView", null, new{@class = "btn btn-default"})
                </div>
            }
        </div>
    </div>
</body>
</html>
